
/*------------------------------------------------------------------

    [Table of contents]

	1. VARIABLES
	2. GLOBAL
  3. HEADER
  4. TABLE
  5. FOOTER

-------------------------------------------------------------------*/

/* -------------------------
        1. VARIABLES
------------------------- */

/* 1.1 Color variables */
$color-fcc        : #006400;
$color-white      : #ddd;
$color-shadow     : darken($color-fcc, 12%);
$color-bg-header  : darken($color-fcc, 7%);
$color-hover-light: lighten($color-fcc, 15%);
$color-footer-link: lighten(yellow, 15%);
$color-table-row  : #eee;

/* 1.2 Font variables */
$font-header: 'Titillium Web', sans-serif;

/* 1.4 Responsive variables */
$breakpoint-mobile: 768px;
$breakpoint-middle: 1024px;

/* -------------------------
        2. GLOBAL
------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: $font-header;
  background-color: $color-fcc;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.network-message{
  color: $color-white;
}

@media
only screen and (max-width: 760px) {
  app {
    justify-content: flex-start;
  }
}

/* -------------------------
        3. HEADER
------------------------- */

header {
  text-align: center;
  h1 {
    color: $color-white;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    height: 5%;
    h1 {
      padding: 0;
      margin: 0;
      font-size: 1em;
    }
  }
}

/* -------------------------
        4. TABLE
------------------------- */

.table {
  width: 1000px;
  height: 600px;
  background-color: $color-white;
  box-shadow: 10px 10px $color-shadow;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;

  td:nth-child(1), th:nth-child(1) { width: 50px; }
  td:nth-child(2), th:nth-child(2) { width: 500px; }
  td:nth-child(3), th:nth-child(3) { width: 225px; }
  td:nth-child(4), th:nth-child(4) { width: 225px; }

  th:nth-child(3), th:nth-child(4) {
    cursor: pointer;
    transition: color .2s ease-in;
    &:hover {
      color: $color-hover-light;
    }
  }

  thead {
    tr {
      display: block;
      position: relative;
      th {
        padding: 5px;
        color: $color-white;
        font-weight: bold;
        background-color: $color-bg-header;
      }
    }
  }
  tbody {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    tr:nth-of-type(odd) {
      background-color: $color-table-row;
    }
    td:not(.username-column) {
      text-align: center;
    }
    td a {
      display: flex;
      align-items: center;
      transition: color .1s ease-in;
      &:hover {
        color: $color-hover-light;
      }
    }
    img {
      height: 30px;
      padding: 5px 10px 5px 5px;
    }
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .table {
    width: 100%;
    height: 90%;
    box-shadow: none;
  }
  table {
    font-size: .8em;
    // thead tr th {
    //   padding: 0;
    // }
    tbody {
      height: 100%;
    }
  }
  td:nth-child(1), th:nth-child(1) { min-width: 22px; }
  td:nth-child(2), th:nth-child(2) { min-width: 136px; }
  td:nth-child(3), th:nth-child(3) { min-width: 60px; }
  td:nth-child(4), th:nth-child(4) { min-width: 60px; }
}

// fancy scrollbar

tbody::-webkit-scrollbar {
  width: 10px;
}

tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------------------------
        5. FOOTER
------------------------- */

footer {
  color: $color-white;
  a {
    color: $color-footer-link;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  footer {
    height: 5%;
    font-size: .9em;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  footer p {
    padding: 0;
    margin: 0;
  }
}
