
/*------------------------------------------------------------------

    [Table of contents]

	1. VARIABLES
	2. GLOBAL STYLES
  3. TABLE STYLES

-------------------------------------------------------------------*/

/* -------------------------
        1. VARIABLES
------------------------- */

/* 1.1 Color variables */
$color-fcc:   #006400;
$color-white: #fff;

/* 1.2 Font variables */
$main-font: 'Space Mono', monospace;

/* 1.4 Responsive variables */
$breakpoint-mobile: 768px;
$breakpoint-middle: 1024px;

/* -------------------------
        2. GLOBAL STYLES
------------------------- */

body {
  background-color: $color-fcc;
}

h1 {
  color: $color-white;
}

/* -------------------------
        2. TABLE STYLES
------------------------- */

.table {
  width: 800px;
  height: 600px;
  overflow: auto;
  margin: 80px auto 0;
  background-color: $color-white;
}

.header-position {
  width: 5%;
}

.header-camper,
.header-30,
.header-all {
  width: 35%;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 10px;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}
